{% extends 'base.html' %}

{% block content %}
    <div class="bg-transparent">
        <div class="card bg-transparent border-0">
            <div class="card-header bg-transparent">
                <h3>Sign In</h3>
            </div>

            <div class="card-body bg-transparent">
                <form method="post" role="form" action="/">
                    {% csrf_token %}
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input id="username" class="form-control transparent-input" type="text" name="username" placeholder="Nom d'utilisateur">
                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input id="password" class="form-control transparent-input" type="password" name="password" placeholder="Mot de passe">
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Login" class="btn float-right login_btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}